.idea/
out/
__pycache__/
.pytest_cache/
cache.txt
cmake-build-debug
.ipynb_checkpoints

tmp.html
tmp1.html
tmp2.html
tmp3.html
tmp4.html
tmp.svg
tmp2.svg
tmp3.svg
tmp4.svg
tmp5.svg
tmp6.svg
tmp.csv
tmp.png
tmp2.csv
